# Ignore node_modules folder
node_modules/

# Ignore logs and log files
logs/
*.log

# Ignore database files
db.sqlite
*.db

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore npm and yarn files
package-lock.json
yarn.lock

# Ignore environment variables file
.env

# Ignore build and dist folders
build/
dist/